@charset "utf-8";

@mixin inner($w:1140px) {
    width: 90%;
    max-width: $w;
    margin: 0 auto;
}

@mixin flex($j:space-between, $a:flex-start){
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@function wRatio($value){
    @return ($value/1140)*100%;
}

body{
    color: #a5a5a5;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.025em;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.outline{

    margin-bottom: 80px;

    &__title{
        margin-bottom: 45px;
        color: #2b2b2b;
        font-size: 38px;
        font-weight: normal;
        line-height: 1.2;

        &::after{
            display: block;
            content: "";
            width: 200px;
            margin-top: 20px;
            border-bottom: 2px solid #ED145B;
        }
    }
}

.card{

    &__link{
        color: #a5a5a5;
        text-decoration: none;

        &:hover .card__pic::after{
            top: 0;
            transform: skewY(0);
        }
    }

    &__body{
        padding: 25px 20px 35px 20px;
        background-color: #f4f4f4;
    }

    &__title{
        margin-bottom: 20px;
        color: #2b2b2b;
        font-size: 16px;
        line-height: 1.2;
    }

    &__pic{
        position: relative;
        overflow: hidden;

        &::after{
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Font Awesome 5 Free";
            content: '\f002';
            font-weight: 900;
            font-size: 30px;
            color: #fff;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 95%;
            left: 0;
            // background-color: #ED145B;
            background-color: rgba(237,20,91,0.8);
            transform: skewY(1deg);
            transition: top 0.3s;
        }
    }
}

.about{
    position: relative;
    overflow: hidden;
    background-color: #f4f4f4;

    &::before{
        display: block;
        content: "";
        width: 100%;
        height: 100px;
        background-color: #ED145B;
        transform: skewY(-1deg);
        position: absolute;
        top: -80px;
        left: 0;
    }

    &__inner{
        @include inner();
        position: relative;
        padding: 100px 0;
    }

    &__content{
        width: wRatio(470);
    }

    &__pic{
        position: absolute;
        bottom: 0;
        left: 50%;
    }
}

.update{

    &__inner{
        @include inner();
    }

    &__list{
        @include flex();
    }

    &__item{
        width: 32%;
    }
}
