@charset "utf-8";

@mixin inner($w:1140px) {
    width: 90%;
    max-width: $w;
    margin: 0 auto;
}

body{
    color: #a5a5a5;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.025em;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.card{
    width: 30%;

    &__body{
        padding: 25px 20px 35px 20px;
        background-color: #f4f4f4;
    }

    &__title{
        margin-bottom: 20px;
        color: #2b2b2b;
        font-size: 16px;
        line-height: 1.2;
    }

    &__pic{
        position: relative;
        overflow: hidden;
    }

    &__screen{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 95%;
        left: 0;
        background-color: #ED145B;
        opacity: 0.8;
        transform: skewY(1deg);
        transition: top 0.3s;

        &:hover{
            top: 0;
            transform: skewY(0);
        }
    }
}

.update{

    &__inner{
        @include inner();
    }
}